@font-face{
    font-family: "Inika";
    src: url(../fonts/Inika-Regular.woff);
    src: url(../fonts/Inika-Regular.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "ROMANUS";
    src: url(../fonts/ROMANUS.woff);
    src: url(../fonts/ROMANUS.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Inconsolata";
    src: url(../fonts/Inconsolata-Medium.woff);
    src: url(../fonts/Inconsolata-Medium.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Norse";
    src: url(../fonts/Norse.woff);
    src: url(../fonts/Norse.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1; }
 .fa-discord:before {
     content: "\f392"; 
 }
  
 .fa-twitter:before {
     content: "\f099"; 
 }
 .fa-instagram:before {
     content: "\f16d"; 
 }
 .fa-telegram:before {
     content: "\f2c6"; }
 @font-face {
     font-family: 'Font Awesome 5 Brands';
     font-style: normal;
     font-weight: 400;
     font-display: block;
     src: url("../fonts/fa-brands-400.eot");
     src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff") format("woff"); 
 }
 .fab {
     font-family: 'Font Awesome 5 Brands';
     font-weight: 400; 
 }
 