@font-face{
    font-family: "Inika";
    src: url(../fonts/Inika-Regular.ttf);
    src: url(../fonts/Inika-Regular.ttf) format(ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "ROMANUS";
    src: url(../fonts/ROMANUS.otf);
    src: url(../fonts/ROMANUS.otf) format(otf);
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Inconsolata";
    src: url(../fonts/Inconsolata-Medium.ttf);
    src: url(../fonts/Inconsolata-Medium.ttf) format(ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Norse";
    src: url(../fonts/Norse.otf);
    src: url(../fonts/Norse.otf) format(otf);
    font-weight: 400;
    font-style: normal;
}