
.expect{
    min-height: calc(100vh - 180px);
    padding: 0 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-top: 40px;
    position: relative;
    &__hidden{
        transition: .5s linear;
        transform: translateY(50%);
        opacity: 0;
    }
}

.cards{
    display: flex;
    height: 190px;
    position: sticky;
    width: 320px;
    margin: 0 auto;
    margin: 52px auto 0;
    padding-bottom: 80px;
    z-index: 100;
    cursor: pointer;
    pointer-events: visiblePainted;
    transition: 0.2s linear;
    .card{
        width: calc(100% / 2.6);
        padding-bottom: calc(100% / 2.6);
        border: 1px solid #FFFFFF;
        border-radius: 12px;
        position: absolute;
        transition: 0.3s linear;
        z-index: 100;
        cursor: pointer;
        font-family: 'Inconsolata';
        font-weight: 600;
        font-size: 24px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        background: #020202;
        box-shadow: 0px 0px 10px #fff0;
        $num: 0%;
        @for $i from 1 to 6 {
            $z: 6 - $i;
            &:nth-child(#{$i}){
                transform: translateX(#{$num});
                z-index: #{$z};
                
            }
            $num: $num + 40%;
        }
        @for $i from 1 to 5 {
            &:nth-child(#{$i+1}){
                background: #020202 url(../img/avatar#{$i}.png) center/cover;
            }
        }
        &__text{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    &:hover .card{
        $num: -19%;
        @for $i from 1 to 6 {
            &:nth-child(#{$i}){
                transform: translateX(#{$num}); 
            }
            $num: $num + 50%;
        }
    }
    &__hidden{
        transition: .5s linear;
        transform: translateY(-50%);
        animation: hidden 0.2s forwards 1s;
        opacity: 0;
        .card{
            box-shadow: 0px 0px 10px #ffff;
            @for $i from 1 to 6 {
                $z: $i;
                &:nth-child(#{$i}){
                    z-index: #{$z};
                }
            }
        }
        &:hover .card{
            $num: 0;
            @for $i from 1 to 6 {
                &:nth-child(#{$i}){
                    transform: translateX(#{$num});
                }
                $num: $num + 40%;
            }
        }
    }
}
@media screen and(max-width: 1400px) {
    .cards{
        width: 290px;
    }
}

@media screen and(max-width: 1280px) {
    .cards{
        width: 250px;
    }
}
@media screen and(max-width: 1160px) {
    html{
        font-size: 13px;
    }
    .cards{
        width: 200px;
    }
}
@media screen and(max-width: 1000px) {
    html{
        font-size: 13px;
    }
    .cards{
        width: 180px;
    }
}

.artists{
    pointer-events: visiblePainted;
    z-index: 10;
    display: none;
    transition: .7s;
    position: absolute;
    top: 0;
    &__close{
        display: flex;
        justify-content: center;
        margin-bottom: 38px;
        cursor: pointer;
        margin-top: 35px;
        animation: show-up .8s linear;
        svg{
            animation: rotate .8s linear;
        }
    }
    @keyframes rotate {
        0%{
            transform: rotate(0);
        }
        25%{
            transform: rotate(180deg);
        }
        50%{
            transform: rotate(360deg);
        }
        75%{
            transform: rotate(180deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
    @keyframes show-up {
        0%{
            transform: translateY(100vh);
        }
        
        100%{
            transform: translateY(0);
        }
    }
    &__wrap{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        width: 276px;
        gap: 36px;
        justify-items: center;
    }
    &__visible{
        display: block;
        opacity: 0;
        transform: translateY(70%);
        animation: show 0.5s forwards linear .1s;
        
    }
}
@keyframes show{
    0%{
        opacity: 0;
        transform: translateY(70%);
    }
    
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.artist{
    width: 120px;
    height: 152px;
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 12px;
    z-index: 10;
    &__image{
        height: 120px;     
        border-radius: 12px;  
    }
    @for $i from 1 to 7 {
        &:nth-child(#{$i}) &__image{
            background: #020202 url(../img/avatar#{$i}.png) center/cover no-repeat ;
        }
    }
    
    
}

.arch__middle_anim{
    transition: 0.6s;
    transition-delay: 0s;
    border-radius: 0;
}