
.expect{
    min-height: calc(100vh - 180px);
    padding: 0 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-top: 40px;
    font-family: 'Inconsolata';
    position: relative;
    padding-bottom: 50px;
    transition: .5s ease-in-out; 
    &__hidden{
        transition: .5s ease-in-out;
        transform: translateY(50%);
        opacity: 0;
        &_none{
            display: none;
        }
    }
    &__visible{
        animation: show-expect 1 linear 0.5s;
    }
}
@keyframes show-expect{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.cards{
    display: flex;
    position: sticky;
    width: 290px;
    margin: 0 auto;
    flex-shrink: 0;
    margin: 52px auto 0;
    z-index: 10;
    cursor: pointer;
    pointer-events: visiblePainted;
    transition: 0.2s linear;
    .card{
        width: calc(100% / 2.6);
        flex-shrink: 0;
        padding-bottom: calc(100% / 2.6);
        border: 1px solid #FFFFFF;
        border-radius: 12px;
        
        transition: 0.3s linear;
        z-index: 100;
        cursor: pointer;
        font-family: 'Inconsolata';
        font-weight: 600;
        font-size: 24px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        background: #020202;
        box-shadow: 0px 0px 10px #fff0;
        $num: 0%;
        @for $i from 1 to 6 {
            $z: 6 - $i;
            &:nth-child(#{$i}){
                transform: translateX(#{$num});
                z-index: #{$z};
                
            }
            $num: $num - 60%;
        }
        @for $i from 1 to 5 {
            &:nth-child(#{$i+1}){
                background: #020202 url(../img/avatar#{$i}.png) center/cover;
            }
        }
        &__text{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    &:hover .card{
        $num: -26.5%;
        @for $i from 1 to 6 {
            &:nth-child(#{$i}){
                transform: translateX(#{$num}); 
            }
            $num: $num - 47%;
        }
    }
    &__hidden{
        transform: translateY(-100%);
        opacity: 0;
        transition: 0.7s ease-in-out;
        transition-delay: 0.35s;
        .card{
            box-shadow: 0px 0px 5px #fff;
        }
        &:hover .card{
            transition: 0.3s;
            $num: 0;
            @for $i from 1 to 6 {
                $z: $i;
                &:nth-child(#{$i}){
                    transform: translateX(#{$num});
                    z-index: #{$z};
                    
                }
                $num: $num - 60%;
            }
        }
    }
    &__visible{
        animation: show-cards .5s linear 1;
    }
}
@keyframes show-cards{
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


@media screen and(max-width: 1280px) {
    .cards{
        width: 250px;
    }
}
@media screen and(max-width: 1160px) {
    html{
        font-size: 13px;
    }
    .cards{
        width: 200px;
    }
}
@media screen and(max-width: 1000px) {
    html{
        font-size: 13px;
    }
    .cards{
        width: 180px;
    }
}

.artists{
    pointer-events: visiblePainted;
    z-index: 10;
    transition: .7s;
    position: absolute;
    padding-bottom: 80px;
    top: 0;
    &__close{
        display: flex;
        justify-content: center;
        margin-bottom: 38px;
        margin-top: 20px;
        cursor: pointer;
        animation: show-up .6s ease-in-out 0.5s;
        svg{
            animation: rotate .6s ease-in-out 0.5s;
        }
    }
    @keyframes rotate {
        0%{
            transform: rotate(0);
        }
        25%{
            transform: rotate(180deg);
        }
        50%{
            transform: rotate(360deg);
        }
        75%{
            transform: rotate(180deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
    @keyframes show-up {
        0%{
            transform: translateY(100vh);
        }
        
        100%{
            transform: translateY(0);
        }
    }
    &__wrap{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        width: 276px;
        gap: 36px;
        justify-items: center;
    }
    &__visible{
        display: block;
        opacity: 0;
        transform: translateY(70%);
        animation: show 0.5s forwards ease-in-out 0.35s;  
    }
    &__hidden{
        animation: artist-hidden 0.8s forwards linear;
        .artists__close{
            animation: show-down .8s linear;
            svg{
                animation: rotate .8s linear;
            }
            
        }
        @keyframes show-down {
            0%{
                transform: translateY(0);
            }
            
            100%{
                transform: translateY(100vh);
            }
        }
    }
}
@keyframes show{
    0%{
        opacity: 0;
        transform: translateY(70%);
    }
    
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes artist-hidden{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(100vh);
    }   
    
}
.artist{
    width: 120px;
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 12px;
    z-index: 10;
    @for $i from 1 to 5 {
        &:nth-child(#{$i}) .artist__number{
            $time: $i/15 + 0.7;
            animation: scale 0.3s forwards linear #{$time}s;
        }
    } 
    &__image{
        height: 120px;     
        border-radius: 12px;  
        display: flex;
        justify-content: flex-end;
        padding: 7px;  
    }
   
    &__title{
        height: 0px;
        font-weight: 600;
        font-size: 1.28rem;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        opacity: 0;
        color: #00000000;
        animation: artist-title 0.2s ease-in-out 0.7s forwards;
        @keyframes artist-title {
            100%{
                height: 30px;
                opacity: 1;
                color: #000000ff;
            }
        }
    }
    &__number{
        width: 24px;
        height: 23px;
        background: #FFFFFF;
        color: #000;
        line-height: 23px;
        text-align: center;
        font-size: 1.14rem;
        font-weight: 600;
        border-radius: 50%;
        align-self: flex-end;
        opacity: 0;
        transform: scale(0);
    }
    @keyframes scale {
        100%{
            opacity: 1;
            transform: scale(1);
        }
    }
    @for $i from 1 to 7 {
        &:nth-child(#{$i}) &__image{
            background: #020202 url(../img/avatar#{$i}.png) center/cover no-repeat ;
        }
    }
    
    
}

.arch__middle_anim{
    transition: 0.6s;
    transition-delay: 0s;
    border-radius: 2%;
}