.question{
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 1.14rem;
    line-height: 17px;
    text-transform: uppercase;
    padding: 6px 12px 0;
    border: 1px solid #fff;
    border-radius: 6px;
    margin: 12px 9px;
    background-color: #000;
    transition: 0.3s ease-in-out;
    max-width: 500px;
    cursor: pointer;
    // &:hover .answer{
    //     transition: 0.4s;
    //     padding: 8px 0;
    //     height: auto;
    // }
    
    .answer{
        font-weight: 400;
        text-transform: capitalize;
        overflow: hidden;
        transition: 0.3s linear;
        //padding-top: 8px;
        height: 0;
        opacity: 0;
    }
    .question__open{
        transition: 0.3s;
        opacity: 1;
        padding: 8px 0;
        height: auto;
    }
    &__top{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
        padding-bottom: 8px;
        position: relative;
        top: 1px;
        svg{
            margin-left: 8px;
        }
       
    }
}

.faq{
    min-height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding-bottom: 70px;
    &__wrap{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
    }
}