.middle-dark{
    width: 100%;
    height: calc(100vh - 180px);
}

.map{
    font-family: 'Inconsolata';
    width: 100%;
    margin-top: 100px;
    position: relative;
    z-index: 7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100% - 50px);
    padding: 40px 42px 0;
    
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1280px;
        margin: 0 auto;
    }
    &__item{
        border: 1px solid #FFFFFF;
        border-radius: 12px;
        margin-bottom: 20px;
        position: relative;
        
        overflow: hidden;
        cursor: pointer;
        &:nth-child(1){
            width: 31%;
            margin-right: 20px;
        }
        &:nth-child(2){
            width: 31%;
            margin-right: 20px;
        }
        &:nth-child(3){
            width: 31%;
        }
        &:nth-child(4){
            width: 47.25%;
            margin-right: 20px;
        }
        &:nth-child(5){
            width: 47.25%;
        }
        .map__block{
            background-color: rgba(12, 12, 12, 1);
        }
        &:hover .map__block{
            transition: 0.7s linear;
        }
       
        &:hover .map__circle{
            opacity: 1;
            transition: .2s ease-in-out;
            z-index: 0;
        }
    }
    &__hover{
        opacity: 0.07;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: url(../img/image.png) center/cover;
        background-blend-mode: overlay, normal;
        backdrop-filter: blur(150px);
    }
    &__text{
        margin-bottom: 18px;
    }
    &__title{       
        font-weight: 700;
        font-size: 1.28rem;
        line-height: 19px;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
    &__description{
        font-weight: 400;
        font-size: 1.14rem;
        line-height: 17px;
    }
    &__green{
        color: #D8FFD8;
        animation: green-text infinite 5s linear;
        filter: drop-shadow(0px 0px 4px rgba(5, 255, 0, 0.7)) drop-shadow(0px 0px 10px rgba(5, 255, 0, 0.7)) drop-shadow(0px 0px 20px rgba(5, 255, 0, 0.7));
        .map__title{
            animation: green-text infinite 5s linear;
        }
        .map__description{
            animation: green-text infinite 5s linear;
        }
    }
    &__block{
        padding: 22px 20px 0;
        height: 100%;
        width: 100%;
        transition: 0.7s ease-in-out;
    }
    &__circle{
        width: 70%;
        height: 70%;
        background-image: radial-gradient(rgba(5, 255, 0, 0.4), rgba(5, 255, 0, 0));
        filter: blur(50px);
        box-shadow: 0px 0px 80px 40px rgba(5, 255, 0, 0.6);
        position: absolute;
        opacity: 0;
        transition: 0.7s ease-in-out;
        left: 10%;
        top: 10%;
    }
}

@keyframes green-text{
    0%{
        color: #fff;
    }
    50%{
        color: #8dff8d;
    }
    100%{
        color: #fff;
    }
}