.mint{
    min-height: calc(100vh - 180px);
    padding: 0 28px 50px;
    font-family: 'Inconsolata';
    text-align: left;
    .middle__description{
        text-align: left;
        a{
            pointer-events: visiblePainted;
        }
    }
    svg{
        filter: drop-shadow(2px 2px 5px white);
    }
}