.dark-top{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: linear-gradient(#000f, #0000);
    pointer-events: none;
    z-index: 1;
    img{
        opacity: 0;
        width: 100%;
    }
}
.mobile{
    text-align: center;
    display: none;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE Ð¸ Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
    &-top{
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 2;
        top: -15px;
        pointer-events: none;
        mix-blend-mode: difference;
        img{
            width: 100%;  
        }
        &-opacity{
            opacity: 0;
            width: 100%;
            display: block;
            margin-top: -15px;
        }
    }
    &-arch{
        width: 100%;
        margin: 0 auto;
        height: calc(100% - 49px);
        border-radius: 1222px 1222px 12px 12px;
    }
    &-bottom{
        width: 100%;
        height: 60px;
        opacity: 0;
        position: relative;
        z-index: -1;
        pointer-events: none;
    }
    &-nav{
        display: flex;
        height: 36px;
        justify-content: space-between;
        width: calc(90% - 3px);
        margin: 0 auto;
        align-items: center;
        text-transform: uppercase;
        background-color: #000;
        border-radius: 23px;
        padding: 0 16px;
        border: 1px solid #fff;
        &__wrap{
            background-color: #000;
            width: 100%;
            position: fixed;
            height: 48px;
            padding-bottom: 5px;
            bottom: 0;
        }
        svg{
            fill: #fff;
            margin-right: 4.5px;
        }
        &__item{
            display: flex;
            align-items: center;
            background-color: #fff0;
            height: 100%;
            border-radius: 23px;
            justify-content: center;
            font-size: 1.3rem;
            cursor: pointer;
            z-index: 2;
            transition: 0.3s linear;
            &_active{
                padding: 0px 16px;
                background-color: #ffff;
                color: #000;
                svg{
                    fill: #000;
                }
            }
        }
    }
    &-art{
        width: calc(90% - 3px);
        margin: 0 auto;
        border: 1px solid #fff;
        border-radius: 1222px 1222px 12px 12px;
        height: 100%;
        opacity: .8;
        object-fit: cover;
        object-position: top center;
        filter: drop-shadow(0px 0px 3px #fff); 
    } 
    .first{
        height: 100vh;
        display: flex;
        flex-direction: column;
        &__img{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: calc(90% - 3px);
            margin: 0 auto;
            border: 1px solid #fff;
            border-radius: 1222px 1222px 12px 12px;
            box-shadow: 0px 0px 3px #fff; 
            flex-grow: 0.7;
            background: url(../img/art1.jpg) top center/cover no-repeat;
            font-family: 'Inconsolata';
            font-weight: 900;
            font-size: 1.8rem;
            line-height: 27px;
            text-align: center;
            text-transform: uppercase;
            color: #FFF;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            padding: 26px 40px;
        }
        
    }
    &-content{
        width: calc(90% - 3px);
        margin: 0 auto;
    }
    &__text{
        padding-top: 60px;
    }
    .mint-btn{
        margin-bottom: 0;
    }
    .middle__description{
        font-size: 1.5rem;
    }
    .full-image{
        width: 100%;
        border: 1px solid #fff;
        border-radius: 1222px 1222px 12px 12px;
        filter: drop-shadow(0px 0px 3px #fff); 
    }
}
.swiper-slide{
    width: 100%!important;
    &:nth-child(1) .mobile-card__img{
        background: url(../img/artist/avatar.png) top center/cover no-repeat;
    }
    &:nth-child(2) .mobile-card__img{
        background: url(../img/artist/avatar2.png) top center/cover no-repeat;
    }
    &:nth-child(3) .mobile-card__img{
        background: url(../img/artist/avatar3.png) top center/cover no-repeat;
    }
    &:nth-child(4) .mobile-card__img{
        background: url(../img/artist/avatar4.png) top center/cover no-repeat;
    }
    &:nth-child(5) .mobile-card__img{
        background: url(../img/artist/avatar5.png) top center/cover no-repeat;
    }
}
.mobile-card{
    max-width: 370px;
    margin: 0 auto;
    height: 443px;
    font-family: 'Inconsolata';
    background: #FFFFFF;
    border: 1.12281px solid #FFFFFF;
    border-radius: 500px 500px 10% 10%;
    color: #000;
    position: relative;
    &__img{
        height: calc(100% - 60px);
        border-radius: 500px 500px 10% 10%;
    }
    &__num{
        position: absolute;
        width: 42.95px;
        height: 40.98px;
        right: 22.34px;
        bottom: 101.95px;
        background: #fff;
        border-radius: 26.7424px;
        font-weight: 600;
        font-size: 3rem;
        line-height: 40.98px;
        text-align: center;
    }
    &__title{
        font-weight: 600;
        font-size: 3rem;
        height: 60px;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
    }
    
}
.mobile-cards{
    height: 100vh;
    &__title{
        font-family: 'Norse';
        font-weight: 400;
        font-size: 4rem;
        line-height: 4rem;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    opacity: 1;
}

.swiper-pagination {
    position: static;
    margin: 40px 0 20px;
}
.swiper-pagination-bullet-active{
    background: rgba(255, 255, 255, 0.9);
    opacity: 1;
}

.swiper{
    z-index: 0;
}