.border_index{
    z-index: 6;
}

.page{
    height: 100%;
    width: 100%;
    z-index: 3;
    .title{
        font-size: calc(var(--index) * 1.9); //12rem
        
    }
    &__border{
        position: relative;
        height: calc(100% - 10px);
        padding-bottom: 30px;
        width: calc(100% - 80px);
        margin: 0 auto;
        z-index: 1;
        //border-bottom: 1px solid rgba($color: rgb(145, 145, 145), $alpha: .4);
    }
}