.team{
    min-height: calc(100vh - 180px);
    margin-top: 150px;
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        max-width: 960px;
        justify-content: center;
        margin: 0 auto;
    }
    &__item{
        width: 120px;
        height: 152px;
        position: relative;
        margin: 0 32px;
        margin-bottom: 36px;
        font-family: 'Inconsolata';
        font-weight: 600;
        font-size: 1.3rem;
        text-align: center;
        text-transform: uppercase;
        color: #000;
        line-height: 30px;
        cursor: pointer;
        &:hover .back{
            opacity: 1;
            filter: blur(0);
            & a{
                transform: scale(1);
            }
            & h3{
                transform: scale(1);
            }
            & h2{
                transform: scale(1);
            }
        }
    }
    &__image{
        width: calc(100% - 2px);
        margin: 0 auto;
        background-color: #000;
        height: calc(100% - 32px);
        margin-top: 1px;
        border-radius: 12px;
    }
    &__image{
        background: url(../img/team/img3.png) center/70% #000 no-repeat;
    }
    & .front{
        height: 100%;
        width: 100%;
        background-color: #fff;
        padding-top: 1px;
        border-radius: 12px;
    }
    & .back{
        transition: 0.3s ease-out;
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background-color: #000e;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #00acee;
        line-height: 1.5rem;
        border-radius: 12px;
        top: -1px;
        left: -1px;
        filter: blur(10px);
        
        opacity: 0;

        h3{
            transition: 0.3s ease-out;
            font-size: 1rem;
            margin: 0;
            transform: scale(1.5);
        }
        h2{
            transition: 0.3s ease-out;
            font-size: 1.2rem;
            margin: 0;
            margin-top: 10px;
            transform: scale(1.5);
        }
        a{
            transition: 0.3s ease-out;
            font-size: 3rem;
            color: #00acee;
            transform: scale(1.5);
        }
    }
}