.team{
    min-height: calc(100vh - 180px);
    padding-top: 150px;
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        width: 960px;
        justify-content: center;
        margin: 0 auto;
    }
    &__item{
        width: 120px;
        height: 152px;
        background-color: #fff;
        margin: 0 32px;
        border-radius: 12px;
        margin-bottom: 36px;
        font-family: 'Inconsolata';
        font-weight: 600;
        font-size: 1.3rem;
        text-align: center;
        text-transform: uppercase;
        color: #000;
        line-height: 28px;
    }
    &__image{
        width: calc(100% - 2px);
        margin: 0 auto;
        background-color: #000;
        height: calc(100% - 32px);
        margin-top: 1px;
        border-radius: 12px;
    }
}