.art-img{
    position: absolute;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: 0.8s ease-in-out;
    width: 640px; 
    img{
        width: 100%;
    }
    &_left{
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        transform: translateY(-150px);
    }
    &_right{
        right: 0;
        display: flex;
        height: 100%;
        padding-bottom: 60px;
        align-items: flex-end;
        transform: translateY(150px);
    }
    &-visible{
        opacity: 0.8;
        filter: blur(0px);
        transform: translateY(0);
    }
}
.vision{
    min-height: calc(100vh - 180px);
    width: 100%;
    position: relative;
}

.stars{
    min-height: 100%;
    display: flex;
    justify-content: center;
    top: -50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 0;
    svg{
        path{
            fill: #fff;
            fill-opacity: 1;
        }
        @for $i from 1 to 14{
            $time: $i;
            & path:nth-child(#{$i}){
               animation: light 3s ease-in infinite #{$time}s;
            }
        }
    }
}

@keyframes light{
    0%{ 
        fill-opacity: 0;
    }
    50%{
        fill-opacity: 0.7;
    }
    100%{
        fill-opacity: 0;
    }
}

.art{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 250px;
    justify-content: center;
    &__image{
        margin: 0 9px;
        margin-bottom: 18px;
        background-color: #000;
        border-radius: 12px;
        width: 180px;
        img{
            width: 100%;
        }
    }
}
@media screen and (max-width: 1750px) {
    .art{
        max-width: 1100px;
        &__image{
            width: 160px;
        }
    }
}
@media screen and (max-width: 1600px) {
    .art{
        max-width: 1000px;
        &__image{
            width: 135px;
        }
    }
}